audio{
	display: none;
}

h1{
	text-align: center;
	font-family: sans-serif;
	color: #0aff00;
}

#player{
	width: 10%;
	margin: 0 auto;
}

#list{
	width: 8%;
	margin: 0 auto;
}

#list li{
	list-style: none;
	font-size: 20px;
	padding-top: 5px;
	color: #0088ff;
}

#list li:hover{
	color: #000000;
	cursor: pointer;
}